<script type="text/html" id="tpl_alarm_home">
<div class="weui_tab_bd">
    <div class="weui_panel">
        <div class="weui_search_bar" id="search_bar">
            <form class="weui_search_outer">
                <div class="weui_search_inner">
                    <i class="weui_icon_search"></i>
                    <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                    <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
                </div>
                <label for="search_input" class="weui_search_text" id="search_text">
                    <i class="weui_icon_search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
        </div>
        <div class="weui_panel_hd">报警列表</div>
        <div class="weui_panel_bd">
            <a href="#/alarm_detail/1/10" class="weui_media_box weui_media_appmsg weui_media_text">
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">视图(AccountService.getAcctByAcctNos调用成功数)</h4>
                    <p class="weui_media_desc">类型(斜率) 最近值[1058 1122 1195 1150]较于506上升%[109 121 136 127]，大于设置值%100 数据源(集群)</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">pay-settlement</li>
                        <li class="weui_media_info_meta">2016 09-11 20:36</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">监控系统</li>
                    </ul>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg weui_media_text">
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">视图(AccountService.getAcctByAcctNos调用成功数)</h4>
                    <p class="weui_media_desc">类型(斜率) 最近值[1058 1122 1195 1150]较于506上升%[109 121 136 127]，大于设置值%100 数据源(集群)</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">pay-settlement</li>
                        <li class="weui_media_info_meta">2016 09-11 20:36</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">监控系统</li>
                    </ul>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg weui_media_text">
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">视图(AccountService.getAcctByAcctNos调用成功数)</h4>
                    <p class="weui_media_desc">类型(斜率) 最近值[1058 1122 1195 1150]较于506上升%[109 121 136 127]，大于设置值%100 数据源(集群)</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">pay-settlement</li>
                        <li class="weui_media_info_meta">2016 09-11 20:36</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">监控系统</li>
                    </ul>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg weui_media_text">
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">视图(AccountService.getAcctByAcctNos调用成功数)</h4>
                    <p class="weui_media_desc">类型(斜率) 最近值[1058 1122 1195 1150]较于506上升%[109 121 136 127]，大于设置值%100 数据源(集群)</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">pay-settlement</li>
                        <li class="weui_media_info_meta">2016 09-11 20:36</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">监控系统</li>
                    </ul>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg weui_media_text">
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">视图(AccountService.getAcctByAcctNos调用成功数)</h4>
                    <p class="weui_media_desc">类型(斜率) 最近值[1058 1122 1195 1150]较于506上升%[109 121 136 127]，大于设置值%100 数据源(集群)</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta">pay-settlement</li>
                        <li class="weui_media_info_meta">2016 09-11 20:36</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">监控系统</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>
</script>
