<script type="text/html" id="tpl_alarm_detail">
<div class="weui_tab_bd">
    <div class="weui_cells_title">应用</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p id="alarm_detail_app">x</p>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">视图</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p id="alarm_detail_graph">x</p>
            </div>
        </div>
    </div>
    <div class="weui_cells_title">报警详情</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p id="alarm_detail_msg">
                    x
                </p>
            </div>
        </div>
    </div>
    <div id="alarm_graph" style="width: 100%; height: 100%; left: 'center'; top: 20"></div>
</div>
</script>
