<script type="text/html" id="tpl_add_content_group">
    <div class="weui_tab_bd">
        <div class="weui_cells_title domain_list_name">增加内容组</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">名字</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="group_name" placeholder="请输入组名"/>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">类型</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" name="select2" id="content_type">
                            <option value="0">视频</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button_sp_area">
                <a href="javascript:void(0)" onclick="addGroup()" class="weui_btn weui_btn_mini weui_btn_primary" id="add_group">创建</a>
            </div>
        </div>
    </div>
</script>
