<script type="text/html" id="tpl_home_setting_group">
    <div class="weui_tab_bd">
        <div class="weui_cells_title domain_list_name">域名组配置</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell weui_cell_switch">
                    <div class="weui_cell_hd weui_cell_primary">下线</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" id="if_offline"/>
                    </div>
                </div>
                <div class="weui_cell weui_cell_switch">
                    <div class="weui_cell_hd weui_cell_primary">无强制分享</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" id="if_force_share"/>
                    </div>
                </div>
                <div class="weui_cell weui_cell_switch">
                    <div class="weui_cell_hd weui_cell_primary">无广告</div>
                    <div class="weui_cell_ft">
                        <input class="weui_switch" type="checkbox" id="if_show_ads"/>
                    </div>
                </div>
            </div>
            <div class="button_sp_area">
                <a href="javascript:void(0)" onclick="settingGroup()" class="weui_btn weui_btn_mini weui_btn_primary" id="setting_button">提交</a>
            </div>
        </div>
    </div>
</script>
