<script type="text/html" id="tpl_home_add_domain">
    <div class="weui_tab_bd">
        <div class="weui_cells_title domain_list_name">增加域名</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label">名字</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="domain_url" placeholder="请输入域名"/>
                    </div>
                </div>
            </div>
            <div class="button_sp_area">
                <a onclick="addDomain()" class="weui_btn weui_btn_mini weui_btn_primary" id="add_domain_url">创建</a>
            </div>
        </div>
    </div>
</script>
