<script type="text/html" id="tpl_opr_home">
    <div class="bd">
        <div class="weui_cells_title">Monitor操作</div>
        <div class="weui_cells weui_cells_access">
            <a class="weui_cell" href="#/opr_graph">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>检索视图</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            <a class="weui_cell" href="javascript:;">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>新建告警</p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        </div>
        <div class="weui_cells_title">关于</div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Monitor</p>
                </div>
                <div class="weui_cell_ft">v0.0.1</div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>Dev</p>
                </div>
                <div class="weui_cell_ft">Youzan.PaaS</div>
            </div>
        </div>
    </div>
</script>
