<div class="weui_tabbar">
    <a href="/home.html" class="weui_tabbar_item" id="tab_index">
        <div class="weui_tabbar_icon">
            <img src="./lib/weui/dist/example/images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_tabbar_label">域名</p>
    </a>
    <a href="/content.html" class="weui_tabbar_item" id="tab_alarm">
        <div class="weui_tabbar_icon">
            <img src="./lib/weui/dist/example/images/icon_nav_article.png" alt="">
        </div>
        <p class="weui_tabbar_label">内容</p>
    </a>
</div>
